__MACOSX/
audio/
fonts/
icons/
js/
js_copies
movies/
save/
index.html
package.json
img/animations/
img/battlebacks1/
img/battlebacks2/
img/characters/
img/enemies/
img/faces/
img/fogs/
img/parallaxes/
img/pictures/_1.rpgmvp
img/pictures/Actor*.rpgmvp
img/pictures/animation_*.rpgmvp
img/pictures/background*.rpgmvp
img/pictures/black*.rpgmvp
img/pictures/border*.rpgmvp
img/pictures/book*.rpgmvp
img/pictures/chain*.rpgmvp
img/pictures/char*.rpgmvp
img/pictures/coin*.rpgmvp
img/pictures/Cursed*.rpgmvp
img/pictures/day_[1234567]*.rpgmvp
img/pictures/ending_*_bg.rpgmvp
img/pictures/endingsS_*.rpgmvp
img/pictures/fear_hand1.rpgmvp
img/pictures/gro*.rpgmvp
img/pictures/harvestman*.rpgmvp
img/pictures/hman*.rpgmvp
img/pictures/i*.rpgmvp
img/pictures/letter*.rpgmvp
img/pictures/maha*.rpgmvp
img/pictures/map*.rpgmvp
img/pictures/meter*.rpgmvp
img/pictures/[pr]*.rpgmvp
img/pictures/salmon*.rpgmvp
img/pictures/splash*.rpgmvp
img/pictures/the_hexen_[0123456789].rpgmvp
img/pictures/the_hexen_circle*.rpgmvp
img/pictures/the_hexen_cursor.rpgmvp
img/pictures/the_hexen_gem*.rpgmvp
img/pictures/the_hexen_soulgem1.rpgmvp
img/pictures/treasure*.rpgmvp
img/sv_actors/
img/sv_enemies/
img/system/
img/tilesets/
img/titles1/
img/titles2/
.DS_Store
*.node
fortress.psd
Window.png

# Carpeta agregada para almacenar imagenes .rpgmvp en .png
img/pictures_png/
output/